.container {
  width: 768px;
  height: 1050px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}
.container div {
  box-sizing: border-box;
  width: 120px;
  height: 180px;
  background: lightcoral;
  font-size: 50px;
  margin: 10px;
  padding: 10px;
}

.container .active {
  background: lightgreen;
}
